---
layout: default
title: Newsletter
description: "Different versions for newsletter signup"
---

{% block content %}
    {% include "components/nav.njk" %}
    {% include "components/newsletterCentered.njk" %}
    <speedlify-score speedlify-url="https://speedlify41.netlify.app/" hash="e64329e8"></div>
{% endblock %}