---
layout: default
title: Newsletter
description: "Different versions for newsletter signup"
---

{% block content %}
    {% include "components/nav.njk" %}
    {% include "components/newsletterCentered.njk" %}
{% endblock %}