---
layout: default
title: Playground01
description: "We are just playing around"
---

{% block content %}
  {% include "components/nav.njk" %}
  {% include "components/playground.njk" %}
  {% include "components/bigShadowCard.njk" %}
  <speedlify-score speedlify-url="https://speedlify41.netlify.app/" hash="18f8d749"></div>
{% endblock %}